@import "tailwindcss";

/* 1. CONFIGURATION THEME (TAILWIND V4) */
@theme {
  --color-palapa-black: #111111;
  --color-palapa-pink: #e782a9;
  --color-palapa-pink-soft: #fff0f5;
  --color-palapa-gray: #f9fafb;
  --color-palapa-text: #374151;

  --font-playfair: "Playfair Display", serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

/* 2. IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

/* 3. BASE STYLES */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* Menggunakan variabel yang sudah dibuat di @theme */
  background-color: var(--color-palapa-gray);
  color: var(--color-palapa-text);
  font-family: var(--font-jakarta);
  line-height: 1.5;
  min-height: 100vh;
}

/* Memastikan gambar tidak keluar dari container */
img {
  max-width: 100%;
  display: block;
}
